/* Estilos generales */
body {
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu .bar {
    height: 3px;
    width: 25px;
    background-color: #000;
    margin: 4px 0;
    transition: 0.4s;
}

.logo {
    font-size: 24px;
    font-family: 'Bebas Neue', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 100%;
    background: #f4f4f4;
    padding: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin: 15px 0;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.content {
    flex: 1;
    padding: 20px;
}

.album-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-cover-large img {
    max-width: 100%;
    height: auto;
}

.album-info-large {
    text-align: center;
    margin-top: 10px;
}

.album-meta p {
    margin: 5px 0;
}

.album-description p {
    font-size: 16px;
    line-height: 1.5;
}

.album-tracklist h3 {
    margin-top: 20px;
}

.songs-list {
    list-style: none;
    padding: 0;
}

.song-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.song-number {
    margin-right: 10px;
}

.song-title {
    font-size: 16px;
}

.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.copyright, .developer {
    font-size: 14px;
    margin-top: 10px;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }

    .sidebar {
        display: none;
    }

    .content {
        width: 100%;
    }

    .menu ul li a {
        font-size: 16px;
    }

    .album-header {
        flex-direction: column;
        align-items: center;
    }

    .album-info-large {
        text-align: center;
    }

    .song-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .song-number {
        margin-right: 0;
        margin-bottom: 5px;
    }
}
